.wrapper {
  display: flex;
  justify-content: center;
}

.FixedHeightContainer {
  height: 100px;
  width:350px; 
  padding:3px; 
}

/* Scrollbar always at the bottom trick: 
https://stackoverflow.com/a/44051405 */ 
.ScrollToBottom {
  height:224px;
  overflow: auto;
  display: flex;
  flex-direction:column-reverse;
}