/*            CHAT ITSELF            */

.wrapper {
  display: flex;
  justify-content: center;
}

#headerContainer {
  display:flex;
  justify-content: center;
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
}

.FixedHeightContainer {
  height: 100px;
  width:350px; 
  padding:3px; 
}

/* Borrowed a bit from this CSS chat tutorial */
/* https://www.w3schools.com/howto/howto_css_chat.asp */ 
.message-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.message-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

fieldset {
  background-color: none;
  border-width: 0;
}

.message-container::after {
  content: "";
  clear: both;
  display: table;
}

.time-right {
  float: right;
  color: #aaa;
}

/* Scrollbar always at the bottom trick: 
https://stackoverflow.com/a/44051405 */ 
.ScrollToBottom {
  height:224px;
  overflow: auto;
  display: flex;
  flex-direction:column-reverse;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/*           Chat Buttons           */

button {
  display: inline-block;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  padding: 12px 20px;
  margin: 0px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.input-inner-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}

.icon-container {
  cursor: pointer;
  display: inline-block;
}


/*          MESSAGE FORM INPUT       */

form {
  width: 100%;
  border-radius: 0;
  background-color: none;
}

input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

