.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
 
}
.event-card{
    display: flex;
    margin: 2%;
    padding: 2%;
    width: 28%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(190, 183, 183, 0.144);
    
}
.special{
    background-color: rgba(153, 151, 151, 0.096);
}
picture{
    display: flex;
    justify-content: center;
}
.event-photo{
    max-width: 80%;
    min-height: 50%;
}
.event-photo:hover{
    opacity:0.8;
    cursor: pointer;
}
.event-info{
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;

}
.light-text{
    color: grey;
    margin-top: 0;
   
}
.event-button-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
 
}
#trashIcon{
    align-self: flex-end;
}
#trashIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}
#eventBtn{
    transition: 0.3s ease;
}
#eventBtn:hover{
    background-color:rgb(0, 81, 128) !important;
    color: white !important;
    transition: 0.3s ease;
}
.icon-container{
    display: flex;
    justify-content: flex-end;

}
#plusIcon{
    align-self: flex-end;
}
#plusIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}
#back-arrow-detail:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .card-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .event-card{
        width: 90%;
    }
}