.friends-events-card-container{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    border: 2px solid rgba(105, 105, 105, 0.685);
    padding: 5%;
}

/* .friend-event-header{
    display: flex;
  
} */
.friend-event-header h2{
    margin-left: 2%;
}
.friend-event-photo{
    width: 100px;
    height: auto;
}
.friend-event-card-content{
    flex: 0 0 auto;
    border: 1px solid rgba(104, 103, 103, 0.521);
    margin: 2%;
    padding: 5%;  
    max-width: 200px;
    transition: 0.4s ease;
}
.friend-event-card-content:hover{

flex: 0 0 auto;
border: 1px solid rgba(104, 103, 103, 0);
margin: 2%;
padding: 6%;  
max-width: 240px;
transition: 0.4s ease;
background-color:rgba(150, 150, 150, 0.329) ;
color: white ;
}
.friends-event-cards{
    max-width: 700px;
}
@media only screen and (max-width: 800px) {
    .friends-events-card-container{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: auto;
        border: 2px solid rgba(105, 105, 105, 0.685);
        padding: 5%;
    }
    .friend-event-card-content{
        flex: 0 0 auto;
        border: 1px solid rgba(104, 103, 103, 0.521);
        margin: 2%;
        padding: 5%;  
        max-width: 400px;
        transition: 0.4s ease;
    }
}
