/*            FOLLOWING ITSELF            */

.follow-background {
  display: flex;
  justify-content: center;
}

.follow-wrapper {
  display: block;
  width: 70%;
}

#follow-headerContainer {
  display:flex;
  justify-content: center;
  border: 2px solid #dedede;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  width: 100%;
}

.follow-container-cards {
  display: flex; 
  flex-direction:row;
  flex-wrap: wrap;
}

.follow-card {
  width: 20rem;
}

/* Borrowed a bit from this CSS chat tutorial */
/* https://www.w3schools.com/howto/howto_css_chat.asp */ 
.follow-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 5px;
}

.follow-container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.follow-form-fieldset {
  background-color: none;
  border-width: 0;
}

.follow-container::after {
  content: "";
  clear: both;
  display: table;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/*           Buttons           */

.trash {
  cursor: pointer;
}

.trash-container {
  float: right;
}

.follow-send-button {
  display: inline-block;
  cursor: pointer;
  background-color: #ddd;
  border: none;
  padding: 12px 20px;
  margin: 0px 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.follow-input-inner-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-between;
}


/*          FRIEND FORM INPUT       */

.follow-container-form {
  width: 100%;
  border-radius: 0;
  background-color: none;
}

.follow-container-input {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 5px;
  box-sizing: border-box;
}

