.card-content {
    margin: 50px 50px 0 50px;
}

.addNewsBtn {
    margin: 50px;
    background-color: lightgreen;
    border-radius: 5px;
}

.newsEditFormBtn {
    margin-top: 20px;
    background-color: lightgreen;
    border-radius: 5px;
}

.newsEditForm {
    margin: 30px 0 0 25px;
    border: 0;
}

#newsTrashIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

#newsDetailsTrashIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

#newsDetailsEditIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

#newsDetailIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}

#newsFileIcon:hover{
    opacity: 0.8;
    cursor: pointer;
}