::selection {
  background: rgba(255, 255, 255, 0.5);
  color: #333;
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.5);
  color: rgba(41, 41, 143, 0.712);
}

.login-form {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 400px;
  background: white;
  overflow: hidden;
}

.header {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: rgba(41, 41, 143, 0.712);
}

h3.header {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.911);
}

label.option {
  color: #fff;
}

.login-input {
  font-family: "Open Sans", sans-serif;
  position: relative;
  display: block;
  margin: 20px auto;
  padding: 10px;
  width: 84%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  text-align: center;
  background:rgba(110, 110, 110, 0.486);
  color: #fff;
}

input.login-input {
  border: none;
  border-left: 5px solid;
  background: none;
  border-color: rgba(41, 41, 143, 0.712);
  color: black;
  font-weight: 300;
  font-size: 18px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.login-input:focus {
  outline: 0;
  background: rgba(40, 83, 225, 0.2);
  border-radius: 20px;
  /* border-color: transparent; */
  border-color: black;
}

button.login {
  text-decoration: none;
}

.login {
  border-radius: 4px;
  text-align: center;
  background: rgba(41, 41, 143, 0.712);
  /* color: black; */
}

/* Change colors container */
.change-colors-container {
  position: absolute;
  height: 300px;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: rgba(255, 255, 255, 0.5);
}

.login {
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 2px;
  left: 0;
  color: white;
}

.option-checkbox {
  position: relative;
  display: block;
  float: right;
  width: 45%;
  margin: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgb(225, 40, 54);
  cursor: pointer;
 
}

label .option {
  float: left;
  left: 3.3%;
  color: black !important;
}

input .option-checkbox{
  margin-right: 3.3%;
}
label.option {
  color: black !important;
}
